fastapi>=0.100.0
uvicorn>=0.22.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
apscheduler>=3.10.0
pillow
pydantic>=2.0.0
pydantic[email]
python-multipart>=0.0.6
reportlab<4.0.0
email-validator<2.0.0
pyotp>=2.6.0
qrcode>=7.3.1
pytest>=7.0.0
